.team {
  background-color: #f8f9fa; /* Light background color for contrast */
}

.team .card {
  border: none;
  transition: box-shadow 0.3s ease-in-out;
}

.team .card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team .img-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.team .img-container img {
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
}

.team .verified-icon {
  color: #28a745;
  font-size: 24px;
  top: 70%;
  right: 0;
}

.team .icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
  border-radius: 50%;
  font-size: 18px;
  color: #6c757d;
}

.team .card-footer {
  background-color: #3ad812;
  border-top: 1px solid #3e12dc;
}

.team .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.team .btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
}

.team .btn-secondary {
  background-color: #d60d0d;
  border-color: #2c25ef;
}

.team .btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
